* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.current-weather {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
}

#search-box, #search-button, hr {
    width: 100%;
}

.title {
background: #3499C7;
background: linear-gradient(90deg, #3499C7, #0d6efd);
}